*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.container{
    width: 1200px;
    height: 100vh;
    background-color: blueviolet;
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-container{
    width: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.img-container img{
    width: 80%;
}

.search-box{
    position: absolute;
    width: 20%;
    top:10%;
    left:20%;
    /* transform: rotate(1deg); */

}

.search-box input{
    width: 100%;
    border: none;
    text-transform: capitalize;
        /* border: .5px solid #fc3f6b; */
        background-color: transparent;
        outline: none;
        border-radius: 2%;
        padding: 3%;
        font-weight: 700;
        font-size: 75%;
        box-shadow: .5px 0px 0px .5px rgb(242, 199, 119);
}

.relative-box{
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
}

.word-box{
    position: absolute;
    left:20% ;
    top: 20%;
    width: 26%;
    height: 67%;
    transform: rotate(1.5deg);
    background-color:transparent;
    /* border: 1px solid black; */
}

.wordabout-box{
    position: absolute;
    width: 29%;
    height: 80%;
    top: 6%;
    right: 19%;
    /* border: 1px solid black; */
}

.relative-word{
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
    height: 100%;
    overflow: hidden;
}

.finish-box{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 10%;
    overflow-y:scroll ;

}

.aboutrelative{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.finish-about{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 8%;
    overflow-y: scroll;
}
.finish-box h4{
font-weight: normal;
cursor: pointer;
}
.nick-name1{
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}
.nick-name{
    text-align: center;
    font-weight: 600;
    cursor: pointer;

}
.info-name{
    font-weight: 600;
    color: black;
}
.show{
    color:blueviolet;
    font-weight: 600 !important;
}

.latter{
    text-align: center;
    position: absolute;
    cursor: pointer;
    width: 2.4%;
    font-size:70%;
    top: 0;
    left: 0;

    background-color:rgb(240, 212, 175);
    border-radius: 5%;
    /* border: 1px solid black; */
}
.lattera{
    left: 12.3%;
    top: 12%;
}
.latterb{
    left: 12.8%;
    top: 15.4%;
}
.latterd{
    left: 13.2%;
    top: 18.8%;
}
.lattere{
    left: 13.6%;
    top: 22.1%;
}
.latterf{
    left: 14%;
    top: 25.4%;

}
.latterg{
    left: 14.4%;
    top: 28.9%;
}
.latterh{
    left: 14.9%;
    top: 32.4%;
    width: 2.5%;

}
.latteri{
    width: 2.5%;
    left: 15.3%;
    top: 35.9%;
}


.latterj{
    left: 12.1%;
    top: 39%;
}

.latterk{
    left: 12.8%;
    top: 42.4%;
}

.latterl{
    left: 13.2%;
    top: 45.7%;
}
.latterm{
    left: 13.6%;
    top: 49.1%;
}
.lattern{
    left: 14%;
    top: 52.5%;

}
.lattero{
    left: 14.4%;
    top: 55.8%;
}
.latterp{
    left: 14.9%;
    top: 59.2%;

}
.latterq{
    left: 15.3%;
    top: 62.4%;
}




.latterr{
    left: 11.5%;
    top: 66%;
}

.latters{
    left: 12%;
    top: 69.1%;
}
.lattert{
    left: 12.5%;
    top:72.6%;
}
.latteru{
    left: 13%;
    top: 75.9%;
}
.latterv{
    left: 14%;
    top:79.3%;

}
.latterx{
    left: 14.5%;
    top: 82.5%;
}
.lattery{
    left: 15%;
    top: 86%;

}
.latterz{
    left: 12.3%;
    top: 88%;
}
.lattershow{
    color:blueviolet ;
    font-weight: 700;
}
@media (max-width:992px){
    .finish-box h4{
        /* font-weight: 600; */
        font-size: 14px;
    }
    .finish-box{
        left: 17%;
    }
    .finish-about{
        left: 16%;
        font-size: 12px;
    }
    .wordabout-box{
        right: 22%;
    }
}

@media (max-width:576px){
    .finish-box h4{
        font-weight: 500;
        font-size: 12px;
    }
    .finish-box{
        left: 20%;
    }
    .finish-about{
        left: 16%;
        font-size: 12px;
    }
    .wordabout-box{
        right: 24%;
    }
}

@media (max-width:480px){
    .finish-box h4{
        font-weight: 500;
        font-size: 8px;
    }
    .finish-about{
        left: 20%;
        font-size: 10px;
    }
    .wordabout-box{
        right: 24%;
    }
}